p:nth-child(5) {
    background: revert;
    box-shadow: revert;
    padding: revert;
 }
 
 a {
    font-size: 12px;
 }
 
 /* Add styles here */
 .lyrics {
   border: 1px solid blue;
   border-radius: 7px;
   width: 280px;
   text-align: left;
   padding: 10px;
   font-family: sans-serif;
   color: white;
   font-size: 16px;
   background: linear-gradient(110.2deg, rgb(99, 192, 227) 5.3%, rgb(98, 72, 194) 100.2%);
   box-shadow: 5px 5px 10px gray;
 }

 h1 {
   color: blue;
   text-shadow: 2px 2px 16px gray;
 }

 body {
   border: 2px solid gray;
   width: 350px;
   padding: 20px;
   background-color: #f0f0f0;
 }